<div class="padding-15">
    <div class="row">
      <div class="col-sm-12">
        <h4>Block Level Copy Component Examples</h4>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <h5>Basic example</h5>
          <p>During registration, enter this callback URL:
            <pfng-inline-copy
              [token]="example01.token"
              [label]="example01.label"
              [copyBtnTxt]="example01.copyBtnTxt"></pfng-inline-copy>
          </p>
          <div class="row grid-example">
            <div class="col-sm-6">
              <h5>In between text example</h5>
              <p><pfng-inline-copy
                [token]="example02.token"
                [label]="example02.label"></pfng-inline-copy>
                This example illustrates how you can control various bits of text within the component.</p>
            </div>
            <div class="col-sm-6">
              <h5>Wrapping Example</h5>
              <p>This example shows a long string being truncated as it meets the edge of a <a href="https://www.w3.org/TR/css-flexbox-1/#flex-formatting-context" target="_blank">flex formatting context</a>.</p>
              <pfng-inline-copy
                [token]="example03.token"
                [label]="example03.label"></pfng-inline-copy>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <tabset>
        <tab heading="api">
          <iframe class="demoframe" src="docs/classes/inlinecopycomponent.html"></iframe>
        </tab>
        <tab heading="html">
          <include-content src="src/app/copy/inline-copy/example/inline-copy-example.component.html"></include-content>
        </tab>
        <tab heading="typescript">
          <include-content src="src/app/copy/inline-copy/example/inline-copy-example.component.ts"></include-content>
        </tab>
      </tabset>
    </div>
  </div>





<!-- <h3>Inline Copy Component Example</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<pfng-inline-copy></pfng-inline-copy></p> -->

<!-- <h3>Inline Copy Component Example</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat <pfng-inline-copy></pfng-inline-copy>. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> -->

<!-- <h3>OAuth Application Management</h3>
<p>During registration, enter this callback URL:
    <pfng-inline-copy
      [token]="example01.token"
      [label]="example01.label"
      [copyBtnTxt]="example01.copyBtnTxt"></pfng-inline-copy>
</p>

<h3>OAuth Application Management</h3>
<p>During registration, enter this callback URL:
    <pfng-inline-copy
      [label]="example01.label"
      [copyBtnTxt]="example01.copyBtnTxt"></pfng-inline-copy>
</p>

<h3>OAuth Application Management</h3>
<p>During registration, enter this callback URL:
    <pfng-inline-copy
      [token]="null"
      [label]="example01.label"
      [copyBtnTxt]="example01.copyBtnTxt"></pfng-inline-copy>
</p> -->