<label [attr.for]="'pf-copy-token-label-' + hash" id="pf-copy-token-label">{{label}}</label>
<div class="copy">
  <div
    class="copy-preview"
    [ngClass]="{'pf-is-open': tokenPanelOpen}"
    [attr.aria-expanded]="tokenPanelOpen">
    <i
      [attr.aria-label]="expandBtnAriaLabel"
      role="button"
      tabindex="0"
      class="fa copy-preview-icon"
      [ngClass]="{'fa-angle-down': tokenPanelOpen, 'fa-angle-right': !tokenPanelOpen}"
      (keyup.enter)="toggleTokenPanel()"
      (click)="toggleTokenPanel()"></i>
    <div class="copy-preview-txt-cont">
      <span>{{token}}</span>
    </div>
    <button
      [attr.id]="'pf-copy-token-label-' + hash"
      class="btn btn-lg btn-default copy-btn"
      (click)="copyTokenToClipboard()">{{copyBtnTxt}}</button>
  </div>
  <div class="copy-body" *ngIf="tokenPanelOpen">
    <span>{{token}}</span>
  </div>
</div>