<h3>Your Access Token</h3>

<div class="copy">
  <div
    class="copy-preview"
    [ngClass]="{'is-open': tokenPanelOpen}"
    [attr.aria-expanded]="tokenPanelOpen">
    <i
      aria-label="Expand Copy Container"
      role="button"
      tabindex="0"
      class="fa copy-preview-icon"
      [ngClass]="{'fa-angle-down': tokenPanelOpen, 'fa-angle-right': !tokenPanelOpen}"
      (keyup.enter)="toggleTokenPanel()"
      (click)="toggleTokenPanel()"></i>

    <div class="copy-preview-txt-cont">
      <span>{{tmpString}}</span>
    </div>

    <button class="btn btn-lg btn-default copy-btn" (click)="copyTokenToClipboard()">Copy</button>
  </div>

  <div class="copy-body" *ngIf="tokenPanelOpen">
    <span>{{tmpString}}</span>
  </div>
</div>